body {
    font-family: sans-serif;
  }

  #promotion-dialog {
    display: none;
  }
  
  .ui-dialog {
    padding: 0 !important;
    width: 320px !important;
    height: 80px !important;
    border: 0 !important;
  }

  .ui-dialog-content {
    padding: 0 !important;
    width: 320px !important;
    height: 80px !important;
    border: 0 !important;
  }

  .ui-corner-all {
    border-radius: 0;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0 !important;
  }

  #promote-to .ui-selecting {
    background: #FECA40;
  }

  #promote-to .ui-selected {
    background: #F39814;
    color: white;
  }

  #promote-to {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 80px;
  }

  #promote-to li {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: cornflowerblue;
    float: left !important;
  }

  .ui-dialog .ui-dialog-content {
    padding: 5;
  }

  .no-close .ui-dialog-titlebar-close {
    display: none;
  }

  .noTitleStuff .ui-dialog-titlebar {
    display: none;
  }

  .promotion-piece {
    width: 80px;
    height: 80px;
  }

  .piece-name {
    display: none;
  }

.board{
    width: 550px;
    margin-bottom: 2px;
}

  .scoreBarOuter {
  height: 30px;
  width: 548px;
  background-image: linear-gradient(90deg, #cd5c5c 33.33%, #ffea42 33.33%,  #ffea42 66.67%,  #3CB371 66.67%);

  margin-bottom: 2px;

  border: 2px solid #404040;
    
    position: relative;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.scoreBarInner, .scoreBarInner div {
    width: 30px;
    overflow: hidden;
    left: -2px;
    position: absolute;
}

.scoreBarInner {
    border: 3px solid #404040;
    width: 6px;
    background-color: #404040;
    bottom: 0;
    height: 30px;
}

.contextmenu {
  position: fixed;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
.contextmenu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.contextmenu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.dialog {
  display: none;
}

.dialog-content {
  background-color: #f1f1f1;
  height: 165px;
  text-align: center;
  padding: 5px;
}

.dialog-button {
  margin: 5px;
  width: 100px;
}

.table-column{
  width: 50%;
}

.table{
  width: 100%;
  height: 300px;
  margin-top: 69px;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  padding-bottom: -1px;
}

.table-no-scroll{
  width: 100%;
  height: 300px;
  margin-top: 69px;
  margin-bottom: 10px;
  padding: 0px;
}

.cell{
  padding: 5px;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  text-align: center;
  list-style-type:none;
  float:left;
  height:30px;
  width:50%;
  align-content: center;
}

.cell:nth-child(even){
  border-right: 0px;
}

button:focus { 
  outline: none !important; 
}