<div>
    <script src="js/chessboard.js"></script>
    <div class="row">
        <br>
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-7 col-lg-6">
                <div id="board" style="margin-left: auto; margin-right: auto;" class="context-menu-board board"></div>
                <div id="start-dialog" class="ui-dialog dialog wrapper" title="Create new game">
                        <div class="dialog-content">
                            <label>Difficulty level: </label>
                            <div class="btn-group" role="group" id="skillLevel">
                                <button type="button" class="btn btn-secondary active">1</button>
                                <button type="button" class="btn btn-secondary">2</button>
                                <button type="button" class="btn btn-secondary">3</button>
                                <button type="button" class="btn btn-secondary">4</button>
                                <button type="button" class="btn btn-secondary">5</button>
                            </div>
                            <p></p>
                            <label>Side: </label>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary active" id="color-white">White</button>
                                <button type="button" class="btn btn-secondary">Black</button>
                            </div>
                            <p></p>
                            <div>
                                <label for="showScore" class="control-label">Show score</label>
                                <input type="checkbox" id="showScore" checked>        
                            </div>
                            <button type="button" class="btn btn-secondary dialog-button" onclick="newGame()">New Game</button>
                        </div>
                </div>
                <div id="end-dialog" class="ui-dialog dialog wrapper" title="Game over">
                    <div class="dialog-content">
                        <h4 id="end-info"></h4>
                        <h3 id="end-winner"></h3>
                        </br>
                        <div>
                            <button id="analyzeButton" type="button" class="btn btn-secondary dialog-button">Analyze</button>
                            <button type="button" class="new-game-button btn btn-secondary dialog-button">New Game</button>
                        </div>
                    </div>
                </div>
                <div id="promotion-dialog">
                  <ol id="promote-to">
                    <li class="ui-state-default"><span class="piece-name">q</span><img class="promotion-piece-q promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">r</span><img class="promotion-piece-r promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">n</span><img class="promotion-piece-n promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">b</span><img class="promotion-piece-b promotion-piece" /></li>
                  </ol>
                </div>
                <div id="scoreBar">
                    <div class="scoreBarOuter" style="margin-left: auto; margin-right: auto;">
                        <div class="scoreBarInner"></div>
                    </div>        
                </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <ul id="pgn" class="list-group-item table list-group mb-3"></ul>
            <form class="card p-1">
                <button id="undoButton" type="button" class="btn btn-lg btn-secondary btn-block" onclick="undo()">Undo</button>
                <button type="button" class="new-game-button btn btn-lg btn-secondary btn-block">New Game</button>
            </form>
            <h4 id="engineStatus"></h4>
        </div>
        <div class="col-md-1 col-lg-2"></div>
        <ul class="contextmenu">
                <li><a type="button" onclick="getFEN()">Copy FEN to clipboard</a></li>
                <li><a type="button" onclick="getPGN()">Copy PGN to clipboard</a></li>
              </ul>
  </div>
  <script src="../js/gameEngine.js"></script>
  <script>
    var wait_for_script;
    var newGame = function (){};
    

    /// We can load Stockfish.js via Web Workers or directly via a <script> tag.
    /// Web Workers are better since they don't block the UI, but they are not always avaiable.
    (function fix_workers()
    {
      var script_tag;
      /// Does the browser support web workers?  If not, include stockfish.js directly.
      if (!Worker || (location && location.protocol === "file:")) {
        var script_tag  = document.createElement("script");
        script_tag.type ="text/javascript";
        script_tag.src  = "../js/stockfish.js";
        script_tag.onload = init;
        document.getElementsByTagName("head")[0].appendChild(script_tag);
        wait_for_script = true;
      }
    }());

    function copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
            return clipboardData.setData("Text", text); 
        } else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
            var textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";
            document.body.appendChild(textarea);
            textarea.select();
            try {
                return document.execCommand("copy");
            } catch (ex) {
                console.warn("Coping to clipboard failed.", ex);
                return false;
            } finally {
                document.body.removeChild(textarea);
            }
        }
    }

    (function init()
    {
      var game = gameEngine();
      undo = function undo(){
          game.undo();
      }

      getFEN = function getFEN(){
          var fen = game.getFEN();
          copyToClipboard(fen);
      }

      getPGN = function getPGN(){
          var pgn = game.getPGN();
          copyToClipboard(pgn);
      }

      newGame = function newGame() {
          var skill = parseInt($('#skillLevel  .active').text());
          game.reset();
          game.setSkillLevel(skill);
          game.setPlayerColor($('#color-white').hasClass('active') ? 'white' : 'black');
          game.setDisplayScore($('#showScore').is(':checked'));
          game.start();

      };
      
      document.getElementById("skillLevel").addEventListener("change", function ()
      {
          game.setSkillLevel(parseInt(this.value, 10));
      });
  
      newGame();
    }());
    
    /// If we load Stockfish.js via a <script> tag, we need to wait until it loads.
    if (!wait_for_script) {
      //document.addEventListener("DOMContentLoaded", init);
    }

      
  </script>
</div>