<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/chessboard.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/sammy.js"></script>
    <script src="../js/chess.js"></script>
    <script src="../js/chessboard.js"></script>
    <title>Chess Trainer</title>
</head>
<body>
<div>
  <div class="row">
  <br>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-8">
                <div id="board"  class="board"></div>
                <div id="promotion-dialog">
                  <ol id="promote-to">
                    <li class="ui-state-default"><span class="piece-name">q</span><img class="promotion-piece-q promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">r</span><img class="promotion-piece-r promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">n</span><img class="promotion-piece-n promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">b</span><img class="promotion-piece-b promotion-piece" /></li>
                  </ol>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h5 class="my-0">Puzzle: </h5>
                      <span class="text-muted">Number</span>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">Dificulity: </h6>
                      <small class="text-muted">Number</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">Your ranking:</h6>
                      <small class="text-muted">1562</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between bg-light">
                    <div >
                      <h6 class="my-0">Last puzzle:</h6>
                      <small class="text-success">+10</small>
                    </div>
                  </li>
                </ul>
      
                <form class="card p-2">
                  <div class="input-group">
         
                    <button type="submit" class="btn btn-lg btn-secondary btn-block">Show solution</button>

                    <button type="button" class="btn btn-lg btn-secondary btn-block">Give up</button>
          
                  </div>
                </form>
            </div>
      </div>
      <div class="col-md-3"></div>
</div></div>
  <script src="../js/puzzleEngine.js"></script>
  <script>
    var wait_for_script;
    var newPuzzle = function (){};
    
    /// We can load Stockfish.js via Web Workers or directly via a <script> tag.
    /// Web Workers are better since they don't block the UI, but they are not always avaiable.
    (function fix_workers()
    {
      var script_tag;
      /// Does the environment support web workers?  If not, include stockfish.js directly.
      ///NOTE: Since web workers don't work when a page is loaded from the local system, we have to fake it there too. (Take that security measures!)
      if (!Worker || (location && location.protocol === "file:")) {
        var script_tag  = document.createElement("script");
        script_tag.type ="text/javascript";
        script_tag.src  = "../js/stockfish.js";
        script_tag.onload = init;
        document.getElementsByTagName("head")[0].appendChild(script_tag);
        wait_for_script = true;
      }
    }());
   
      
    function init()
    {
      var game = puzzleEngine();
      undo = function undo(){
          game.undo();
      }

      newPuzzle = function newPuzzle() {
          game.reset();
          //game.setSkillLevel(20);
          //game.setPlayerColor($('#color-white').hasClass('active') ? 'white' : 'black');
          //game.setDisplayScore($('#showScore').is(':checked'));
          game.start();
      };
  
      newPuzzle();
    }
    
    /// If we load Stockfish.js via a <script> tag, we need to wait until it loads.
    if (!wait_for_script) {
      document.addEventListener("DOMContentLoaded", init);
    }
  </script>
</body>
</html>
