<div>
    <script src="js/chessboard.js"></script>
    <div class="row">
        <br>
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-7 col-lg-6">
                <div id="board" style="margin-left: auto; margin-right: auto;" class="board context-menu-board"></div>
                <div id="promotion-dialog">
                  <ol id="promote-to">
                    <li class="ui-state-default"><span class="piece-name">q</span><img class="promotion-piece-q promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">r</span><img class="promotion-piece-r promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">n</span><img class="promotion-piece-n promotion-piece" /></li>
                    <li class="ui-state-default"><span class="piece-name">b</span><img class="promotion-piece-b promotion-piece" /></li>
                  </ol>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <ul class="table-no-scroll list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div style="height: 100px;">
                      <h5 class="my-0">Description: </h5>
                      <div style="text-align: center;">
                        <span id="puzzleDesc" class="text-muted">-</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div style="height: 53px;">
                      <h5 class="my-0">Dificulity: </h5>
                      <div style="text-align: center;">
                        <span id="puzzleDiff" class="text-muted">-</span>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between bg-light">
                    <div style="height: 53px;">
                      <h5 class="my-0">Score:</h5>
                      <div style="text-align: center;">
                        <b id="winScore" class="text-success">0</b>
                        <b class="text-muted"> - </b>
                        <b id="loseScore" class="text-danger">0</b>
                      </div>
                    </div>
                  </li>
                </ul>
      
                <form class="card p-1">
                  <button id="nextPuzzleButton" type="button" onclick="newPuzzle()" class="btn btn-lg btn-secondary btn-block">Next puzzle</button>
                  <button id="showSolutionButton" type="button" class="btn btn-lg btn-secondary btn-block">Show solution</button>
                </form>
            </div>
            <div class="col-md-1 col-lg-2"></div>
      </div>
      <script src="js/puzzleEngine.js"></script>
    <script>     
        (function init()
        {
          var game = puzzleEngine();
   
          newPuzzle = function newPuzzle() {
              game.start();
          };
      
          game.reset();
        }());
      </script>
</div>
